{# @var \App\Entity\Inventory object #}
{% extends 'crud/show.html.twig' %}
{% block show_groups %}
    <div class="sonata-ba-show">
        <div class="sonata-ba-view">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="box box-primary">
                        <div class="box-body table-responsive">
                            <h4>Исполнитель: <span class="label label-default">{{ object.executor }}</span></h4>
                            <h4>Всего единиц оборудования для инвентаризация: <span class="label label-default">{{ object.cards.count }}</span></h4>
                            <h4>Местонахождение инвентаризируемого комплекта: <span class="label label-default"></span></h4>
                            <h4>Основание формирования комплекта: <span class="label label-default"></span></h4>
                            {% if object.comment %}
                                <h4>Комментарий: <span class="label label-default">{{ object.comment }}</span></h4>
                            {% endif %}
                            <div>
                                <table class="table table-responsive table-bordered table-sm text-center table-head-top">
                                    <thead>
                                    <tr>
                                        <th>Наименование</th>
                                        <th>Серийный № трубы</th>
                                        <th>Серийный № ниппеля</th>
                                        <th> Серийный № муфты</th>
                                        <th>№ RFID-метки</th>
                                        <th>Учет/Инвентаризация</th>
                                        <th>Оборудование есть, проблема с меткой</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {# @var \App\Entity\Card card #}
                                    {% for card in object.cards %}
                                        <tr>
                                            <td class="text-left">{{ card.generalName }}</td>
                                            <td>{{ card.pipeSerialNumber }}</td>
                                            <td>{{ card.serialNoOfNipple }}</td>
                                            <td>{{ card.couplingSerialNumber }}</td>
                                            <td>{{ card.rfidTagNo }}</td>
                                            <td>{{ card.accounting ? 1 : 0 }}</td>
                                            <td>{{ card.taskCardOtherFieldsByTask(object.taskTypeId, object.id).commentProblemWithMark }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sonata-ba-view">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="box box-primary">
                        <div class="box-body table-responsive">
                            <div>
                                <table class="table table-responsive table-bordered table-sm text-center table-head-top">
                                    <caption><h1>Излишек</h1></caption>
                                    <thead>
                                    <tr>
                                        <th>Серийный № трубы </th>
                                        <th>Серийный № ниппеля </th>
                                        <th>Серийный № муфты </th>
                                        <th>№ RFID-метки</th>
                                        <th>Комментарий</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if object.over.count %}
                                        {# @var \App\Entity\InventoryOver over #}
                                        {% for over in object.over %}
                                            <tr>
                                                <td>{{ over.pipeSerialNumber }}</td>
                                                <td>{{ over.serialNoOfNipple }}</td>
                                                <td>{{ over.couplingSerialNumber }}</td>
                                                <td>{{ over.rfidTagNo }}</td>
                                                <td>{{ over.comment }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr><td colspan="5">Записей нет</td></tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
