{% block admin_model_list_row %}
{% endblock %}
{% block admin_list_row %}
{#        {{ dump(values) }}#}
    {#    {% for element in value %}#}
    {#        {{ element|render_relation_element(sonata_admin.field_description) }}#}
    {#    {% endfor %}#}
    <div class="form-group">
        <label class="control-label">
            {{ label|trans({}, translation_domain) }}
        </label>
        <div class="sonata-ba-field sonata-ba-field-standard-natural">
            <a href="{{ sonata_admin.field_description.associationadmin.generateUrl('list',
                sonata_admin.field_description.getOption('link_parameters', {})) }}"
               id="admin_list_modal_{{ id }}"
               class="btn btn-success btn-sm sonata-ba-action" title="Добавить новый">
                <i class="fa fa-plus-circle"></i>
                Добавить
            </a>
        </div>
        <table id="table_list_{{ id }}" class="table table-bordered table-striped table-hover sonata-ba-list">
            <thead>
            <tr class="sonata-ba-list-field-header">
                <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                    #
                </th>
                <th class="sonata-ba-list-field-header-text">
                    Название
                </th>
                <th class="sonata-ba-list-field-header sonata-ba-list-field-header-select"></th>
            </tr>
            </thead>

            <tbody>

            {% if values|length %}
                {% for element in values %}
{#                    {{ dump() }}#}
{#                    {{ dump(sonata_admin.field_description) }}#}
                    <tr>
                        <input type="hidden" name="{{ form.vars.full_name }}" value="{{ element.id }}">
                        <td class="sonata-ba-list-field sonata-ba-list-field-batch">
                            {{ loop.index }}
                        </td>
                        <td class="sonata-ba-list-field sonata-ba-list-field-text">
                            {{ attribute(element, form.vars.fieldShowName) }}
                        </td>
                        <td class="sonata-ba-list-field sonata-ba-list-field-select" objectid="1">
                            <a class="btn btn-primary" href="#">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Убрать
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="3">Нету выбранных записей</td></tr>
            {% endif %}
            </tbody>

        </table>
    </div>
    {#    {% include '@SonataAdmin/CRUD/Association/edit_modal.html.twig' %}#}
    {% include 'form/admin_list_modal.html.twig' %}
    {% include 'form/admin_list_script.html.twig' %}
    {#    {% include '@SonataAdmin/CRUD/Association/edit_many_script.html.twig' %}#}
{% endblock %}
