{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {#    {{ dump() }}#}
    <div class="js-admin-list-other-field">
        <span class="js-admin-list-other-field-info" data-title="{{ field_description.options.label }}"></span>
        <input name="{{ field_description.options.input_name_mask }}" class="form-check-input" type="checkbox"
               value="1">
        <input type="hidden" name="{{ field_description.options.input_parent_mask }}" value="{{ object.id }}">
    </div>
{% endblock %}