{% if  actions.withId is defined and actions.withId %}
    <a href="{{ path(actions.link, {id: object.id}) }}" class="btn btn-sm btn-default view_link" title="{{ actions.title }}">
{% else %}
    <a href="{{ path(actions.link) }}" class="btn btn-sm btn-default view_link" title="{{ actions.title }}">
{% endif %}
{% if actions.icon is defined %}
    <i class="fa {{ actions.icon }}" aria-hidden="true"></i>
{% endif %}
    {{ actions.title }}
</a>