{# @var object \App\Entity\Card #}
{#{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}#}
{% extends '/viewList/base_show_field.html.twig' %}
{% block field %}
    {% if compare_mode is not defined  %}
        <td>{{ block('field_title') }}</td>
    {% endif %}
    <td>{{ block('field_value') }}</td>
{% endblock %}

{% block field_title %}
    <table width="100%">
        {% for element in value %}
            <tr class="sonata-ba-view-container history-audit-compare">
                {% if (value_compare is defined) %}
                    <th class="{{ element|sonata_compare(value_compare, compare_mode is defined) }}">{{ element.field.title }}</th>
                {% else %}
                    <th>{{ element.field.title }}</th>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block field_value %}
    <table width="100%">
        {% if object.operatingTimeCounter.count %}
            <tr>
                <th>Дата прихода из аренды</th>
                <th>Дата начала работ</th>
                <th>№ скважины</th>
                <th>Кол-во СПО</th>
                <th>Проходка, интервал от</th>
                <th>Проходка, интервал до</th>
                <th>Проходка, итого</th>
            </tr>
            {% for operatingTimeCounter in object.operatingTimeCounter %}
                <tr>
                    <td>{{ operatingTimeCounter.returnFromRentDate|date }}</td>
                    <td>{{ operatingTimeCounter.workStartDate }}</td>
                    <td>{{ operatingTimeCounter.wellNumber }}</td>
                    <td>{{ operatingTimeCounter.spoAmount }}</td>
                    <td>{{ operatingTimeCounter.penetrationFrom }}</td>
                    <td>{{ operatingTimeCounter.penetrationTo }}</td>
                    <td>{{ operatingTimeCounter.penetrationTotal }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% for element in value %}
            <tr class="sonata-ba-view-container history-audit-compare">
                <td>
                    {% if field_description.hasassociationadmin
                        and field_description.associationadmin.hasRoute(route_name)
                        and field_description.associationadmin.hasAccess(route_name, element) %}
                        <a href="{{ field_description.associationadmin.generateObjectUrl(route_name, element, field_description.options.route.parameters) }}">
                            {{ element|render_relation_element(field_description) }}
                        </a>
                    {% else %}
                        {{ element|render_relation_element(field_description) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block field_compare %}
    {% if(value_compare is defined) %}
        {% set compare_mode = true %}
        {% set value = value_compare %}
        {{ block('field') }}
    {% endif %}
{% endblock %}
